.root {
  position: relative;
  width: 390px;
  height: 1665px;
  align-items: flex-start;
  background-image: linear-gradient(180deg, #7476d0ff 0%, #14387e00 100%),
    linear-gradient(180deg, #7476d0ff 0%, #14387e00 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, auto;
  overflow: hidden;
}
.group18 {
  position: absolute;
  left: -66px;
  top: 988px;
  width: 453px;
  height: 257.0388px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.group24 {
  position: absolute;
  left: -32px;
  top: 1238px;
  width: 453px;
  height: 257.0388px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.group25 {
  position: absolute;
  left: -62px;
  top: 1487px;
  width: 453px;
  height: 257.0388px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.group26 {
  position: absolute;
  left: -41px;
  top: 1734px;
  width: 453px;
  height: 257.0388px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.group27 {
  position: absolute;
  left: -26px;
  top: 1986px;
  width: 453px;
  height: 257.0388px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.group28 {
  position: absolute;
  left: -40px;
  top: 2243px;
  width: 453px;
  height: 257.0388px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.group29 {
  position: absolute;
  left: -45px;
  top: 2490px;
  width: 453px;
  height: 257.0388px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.group30 {
  position: absolute;
  left: -31px;
  top: 2747px;
  width: 453px;
  height: 257.0388px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.group17 {
  position: absolute;
  left: -41px;
  top: 718px;
  width: 453px;
  height: 257.0388px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.group16 {
  position: absolute;
  left: -28px;
  top: 457px;
  width: 453px;
  height: 257.0388px;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.group4 {
  position: absolute;
  left: -21px;
  top: 214px;
  width: 453px;
  height: 257.0388px;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.group23 {
  position: absolute;
  left: -44px;
  top: -45px;
  width: 453px;
  height: 257.0388px;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.rain {
  color: #01030f;
  font-size: 100px;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 90px;
  top: 109px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rain2 {
  color: #fff;
  font-size: 100px;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 95px;
  top: 105px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle26 {
  position: absolute;
  left: 1px;
  top: 212px;
  width: 390px;
  height: 48px;
  background-color: #fff;
}
.drivingUnderTheInfluence {
  color: #000;
  font-size: 18.5px;
  font-weight: bold;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1px;
  top: 212px;
  width: 390px;
  height: 48px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle80 {
  position: absolute;
  left: 48px;
  top: 325px;
  width: 287px;
  height: 208px;
  outline: solid 4px #000;
  outline-offset: -4px;
  border-radius: 20px;
  background-color: #ffe602;
}
.rectangle81 {
  position: absolute;
  left: 57px;
  top: 308px;
  width: 288px;
  height: 213px;
  outline: solid 4px #000;
  outline-offset: -4px;
  border-radius: 20px;
  background-color: #906cd6;
}
.aDUIDrivingUnderTheInfluenceIs {
  position: absolute;
  left: 84px;
  top: 324px;
  width: 234px;
  height: 182px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 20px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
}
.labelWrapper {
  font-size: 25px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #000;
  font-size: 25px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label3 {
  color: #000;
  font-size: 25px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
}
.labelWrapper2 {
  font-size: 20px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.textBlock7 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle84 {
  position: absolute;
  left: 48px;
  top: 565px;
  width: 287px;
  height: 214px;
  outline: solid 4px #000;
  outline-offset: -4px;
  border-radius: 20px;
  background-color: #ffe602;
}
.rectangle85 {
  position: absolute;
  left: 57px;
  top: 547px;
  width: 288px;
  height: 221px;
  outline: solid 4px #000;
  outline-offset: -4px;
  border-radius: 20px;
  background-color: #906cd6;
}
.youCanGetADUIIfYouAreUnderTheA {
  position: absolute;
  left: 80px;
  top: 644px;
  width: 234px;
  height: 111px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock10 {
  color: #000;
  font-size: 25px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock11 {
  margin-top: 0;
}
.labelWrapper3 {
  font-size: 25px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label4 {
  color: #000;
  font-size: 25px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label5 {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label6 {
  color: #000;
  font-size: 25px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label7 {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label8 {
  color: #000;
  font-size: 25px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock12 {
  margin-top: 0;
  color: #000;
  font-size: 25px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock13 {
  margin-top: 0;
  color: #000;
  font-size: 25px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock14 {
  margin-top: 0;
  color: #000;
  font-size: 25px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock15 {
  margin-top: 0;
  color: #000;
  font-size: 25px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle86 {
  position: absolute;
  left: 46px;
  top: 827px;
  width: 286px;
  height: 242px;
  outline: solid 4px #000;
  outline-offset: -4px;
  border-radius: 20px;
  background-color: #ffe602;
}
.rectangle87 {
  position: absolute;
  left: 54px;
  top: 806px;
  width: 289px;
  height: 250px;
  outline: solid 4px #000;
  outline-offset: -4px;
  border-radius: 20px;
  background-color: #906cd6;
}
.ifYouAreUnderTheAgeOf21YouCanI {
  position: absolute;
  left: 78px;
  top: 875px;
  width: 235px;
  height: 186px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock16 {
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock17 {
  margin-top: 0;
}
.labelWrapper4 {
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label9 {
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label10 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label11 {
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label12 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label13 {
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label14 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label15 {
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label16 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock18 {
  margin-top: 0;
}
.labelWrapper5 {
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.textBlock19 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock20 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock21 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle88 {
  position: absolute;
  left: 44px;
  top: 1105px;
  width: 287px;
  height: 243px;
  outline: solid 4px #000;
  outline-offset: -4px;
  border-radius: 20px;
  background-color: #ffe602;
}
.rectangle89 {
  position: absolute;
  left: 54px;
  top: 1085px;
  width: 287px;
  height: 251px;
  outline: solid 4px #000;
  outline-offset: -4px;
  border-radius: 20px;
  background-color: #906cd6;
}
.ifYouAreUnder21ButOverTheAgeOf {
  position: absolute;
  left: 76px;
  top: 1151px;
  width: 234px;
  height: 125px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.labelWrapper6 {
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label17 {
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label18 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label19 {
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label20 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label21 {
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label22 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label23 {
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label24 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label25 {
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle90 {
  position: absolute;
  left: 46px;
  top: 1381px;
  width: 286px;
  height: 243px;
  outline: solid 4px #000;
  outline-offset: -4px;
  border-radius: 20px;
  background-color: #ffe602;
}
.rectangle91 {
  position: absolute;
  left: 54px;
  top: 1360px;
  width: 289px;
  height: 251px;
  outline: solid 4px #000;
  outline-offset: -4px;
  border-radius: 20px;
  background-color: #906cd6;
}
.youCanAvoidDUIsByCallingAnUber {
  position: absolute;
  left: 78px;
  top: 1398px;
  width: 235px;
  height: 197px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.labelWrapper7 {
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label26 {
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label27 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label28 {
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label29 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label30 {
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label31 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label32 {
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock22 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-family: Blinker, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
